# Mini Project - Classification of Wind Turbine Alarms
To start I will first look at the alarm data, and 1 quarter worth of data

In [65]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore', DeprecationWarning)
%matplotlib inline
#pd.show_versions()

# path = 'C:\\Users\\kthomas\\Google Drive\\SMU\\DataMining\\MiniProject\\Data\\'
#path = '~/Documents/thomaskh522@gmail.com/SMU/DataMining/MiniProject/Data/'
path = 'D:/Pattern/'
alarms = pd.read_csv(path + "tblAlarm2017_v2.csv")
alarms_desc = pd.read_csv(path + "Siemens_Fault_Code_Descriptions.csv")
q1 = pd.read_csv(path + "SCADAcombined2017Q1.csv")
#q2 = pd.read_csv(path + "SCADAcombined2017Q2.csv")
#q3 = pd.read_csv(path + "SCADAcombined2017Q3.csv")
#q4 = pd.read_csv(path + "SCADAcombined2017Q4.csv")

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.23.0
pytest: 3.0.7
pip: 10.0.1
setuptools: 27.2.0
Cython: 0.25.2
numpy: 1.12.1
scipy: 0.19.0
pyarrow: None
xarray: None
IPython: 5.3.0
sphinx: 1.5.6
patsy: 0.4.1
dateutil: 2.6.0
pytz: 2017.2
blosc: None
bottleneck: 1.2.1
tables: 3.2.2
numexpr: 2.6.2
feather: None
matplotlib: 2.0.2
openpyxl: 2.4.7
xlrd: 1.0.0
xlwt: 1.2.0
xlsxwriter: 0.9.6
lxml: 3.7.3
bs4: 4.6.0
html5lib: 0.9999999
sqlalchemy: 1.1.9
pymysql: 0.8.0
psycopg2: None
jinja2: 2.9.6
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

In [66]:
# remove rows with missing values 
alarms.dropna(inplace=True)

# merge the alarms with the alarm descriptions
alarms = pd.merge(alarms, alarms_desc, on = ["Code"], how='inner')

# Need to convert columns to datetime
alarms['TimeOn'] = pd.to_datetime(alarms['TimeOn'])
alarms['TimeOff'] = pd.to_datetime(alarms['TimeOff'])

# Calculate duration of alarm
alarms['Duration'] = alarms['TimeOff']-alarms['TimeOn']

# delete unused columns
del alarms['Source']

alarms.head()

,StationId,Type,Code,TimeOn,TimeOff,Description,Fault Type,Duration
0,2308996,0,3130,2017-01-01 01:36:00,2017-01-01 01:40:00,Pitch lubrication,1,00:04:00
1,2308963,0,3130,2017-01-01 02:43:00,2017-01-01 02:47:00,Pitch lubrication,1,00:04:00
2,2308965,0,3130,2017-01-01 02:45:00,2017-01-01 02:49:00,Pitch lubrication,1,00:04:00
3,2308999,0,3130,2017-01-01 03:19:00,2017-01-01 03:23:00,Pitch lubrication,1,00:04:00
4,2309034,0,3130,2017-01-01 03:54:00,2017-01-01 03:58:00,Pitch lubrication,1,00:04:00

In [63]:
# most popular warnings by duration

warnings = alarms[alarms['Fault Type']=='W']

pareto_w = warnings.groupby('Description')['Duration'].sum()
pareto_w.sort_values(ascending=False).head(25)

Description
Primary anemometer failure       400 days 03:23:00
Primary wind vane failure        282 days 17:06:00
Many Anemometer activations      232 days 02:23:00
Grease level low, hub            196 days 19:49:00
AviLight, Lamp failure           173 days 23:33:00
Secondary anemometer failure     162 days 20:03:00
Turbine in local operation       162 days 06:39:00
FT1 Sonic wind sensor comm err   149 days 02:58:00
Many Wind Vane activations       145 days 12:11:00
INU WARN: INV OVERTEMP (4290)    112 days 20:55:00
Local, ad-hoc / repair work       82 days 14:07:00
INU WARN: EM STOP (F081)          78 days 17:59:00
INU ERR: EM STOP (F081)           73 days 07:11:00
FRT detected by grid module       69 days 14:46:00
Gen. bear. lub. not possible      57 days 01:50:00
Inv.(tow) coolwater pres. war     54 days 16:07:00
No lubrication, blade B           46 days 03:55:00
Local, scheduled service work     41 days 20:34:00
Local, customer / guest visit     36 days 21:18:00
ISU WARN: EXT TMP 1               31 days 22:47:00
ISU WARN: EXT TMP 2               28 days 01:33:00
ISU WARN: T MEAS CIRC (FF91)      28 days 01:33:00
ISU WARN: EXT ANALOG IO (7081)    28 days 00:22:00
INU ERR: COMM MODULE (7510)       19 days 04:45:00
Offlinefilter motor superheatd    12 days 22:46:00
Name: Duration, dtype: timedelta64[ns]

In [49]:
# remove warnings from alarm list

alarms = alarms[alarms['Fault Type']!='W']
#alarms.sort_values('Duration',ascending=False).head(25)

In [50]:
# most popular alarms by duration

pareto = alarms.groupby('Description')['Duration'].sum()
pareto.sort_values(ascending=False).head(25)

Description
Stop for powerdown               185 days 05:56:00
Gridvolt.<lower limit1           137 days 01:14:00
Gridvolt.<lower limit2           136 days 20:28:00
Low lower voltage exceeded       136 days 19:44:00
Manual stop                      133 days 03:56:00
Gridvolt.<lower limit3           132 days 21:02:00
Gridvolt.<lower limit4           130 days 18:56:00
Hyd oil level error              120 days 06:46:00
Converter tripped, Auto Start     92 days 05:44:00
UPS Battery Low                   88 days 23:42:00
Gearoil level too low             77 days 06:13:00
Remote stop - Owner               69 days 21:09:00
Stopped due to power up delay     68 days 21:27:00
Remote stop Service               67 days 02:28:00
Pitch pump. time too long,stop    59 days 19:19:00
Converter tripped, general        56 days 15:50:00
Availability - low wind           46 days 14:13:00
Stopped, untwisting cables        45 days 06:32:00
Pitchhydraulics superheated       42 days 00:42:00
Remote stop - Siemens             29 days 22:52:00
Yaw motor(s) superheated          29 days 09:34:00
Emergency switch activated        27 days 06:36:00
Manual stop owner                 25 days 01:07:00
CAN:Hub Communication error       24 days 00:59:00
Manual idle stop - yawing         23 days 17:38:00
Name: Duration, dtype: timedelta64[ns]

In [51]:
# most popular alarms by frequency

pareto2 = alarms['Description'].value_counts()
pareto2.head(25)

Stopped, untwisting cables        33610
Pitch lubrication                  6177
Hyd. for crane/cover activated     3740
Availability - low wind            3434
Converter tripped, Auto Start      2858
Pitch pump. time too long,stop     1397
Stop for powerdown                 1380
Manual stop                        1235
Emergency switch activated         1183
Converter tripped, general         1128
Pitchhydraulics superheated         935
UPS Battery Low                     836
Hyd oil level error                 781
Remote stop Wake                    716
Gridvolt.<lower limit1              546
Gridvolt.<lower limit2              538
Gridvolt.<lower limit3              516
Low lower voltage exceeded          456
Gearoil level too low               425
Gridvolt.<lower limit4              416
Yaw motor(s) superheated            381
Gear oil pressure too high/low      316
Stopped due to power up delay       271
Hyd oil temperature error           264
Gen. Inv. Communication error       237
Name: Description, dtype: int64

In [5]:
print(q1.info())
q1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111023 entries, 0 to 1111022
Columns: 117 entries, TimeStamp to wtc_BoostAva_mean
dtypes: float64(108), int64(6), object(3)
memory usage: 991.7+ MB
None

,TimeStamp,Name,StationId,CommunicationId,NeighbourId,NeighbourIdTwo,XPos,YPos,wtc_CurTime_endvalue,wtc_SecAnemo_mean,...,wtc_GFilB3Tm_mean,wtc_ReacUTmp_mean,wtc_ReacVTmp_mean,wtc_ReacWTmp_mean,wtc_MainBTmp_mean,wtc_MBearHTm_mean,wtc_MBearGTm_mean,wtc_GenAvgTm_mean,wtc_TrafoTMa_mean,wtc_BoostAva_mean
0,2017-01-01 00:00:00.000,A001,1,2308959,30,29,260,150,2016-12-31 23:59:59.000,8.336860,...,39.96298,NaN,NaN,NaN,37.99118,NaN,NaN,NaN,200.0,0.0
1,2017-01-01 00:00:00.000,T001,3,2308961,4,5,30,150,2016-12-31 23:59:58.000,10.321250,...,46.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
2,2017-01-01 00:00:00.000,T002,4,2308962,3,5,30,300,2016-12-31 23:59:58.000,10.222780,...,42.86638,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
3,2017-01-01 00:00:00.000,T004,6,2308964,5,7,30,600,2016-12-31 23:59:58.000,9.937770,...,40.99303,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
4,2017-01-01 00:00:00.000,T005,7,2308965,6,5,30,750,2016-12-31 23:59:58.000,9.727246,...,41.03338,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0

In [10]:
# Sensor Data
# Need to convert TimeStamp from object to datetime
q1['TimeStamp'] = pd.to_datetime(q1['TimeStamp'])

# setting the index
q1.set_index('TimeStamp', inplace=True)
q1.index

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               ...
               '2017-01-01 01:30:00', '2017-01-01 01:30:00',
               '2017-01-01 01:40:00', '2017-01-01 01:40:00',
               '2017-01-01 01:40:00', '2017-01-01 01:40:00',
               '2017-01-01 01:40:00', '2017-01-01 01:40:00',
               '2017-01-01 01:40:00', '2017-01-01 01:40:00'],
              dtype='datetime64[ns]', name='TimeStamp', length=1111023, freq=None)

In [16]:
# Alarms
# Need to convert TimeStamp from object to datetime
alarms['TimeOn'] = pd.to_datetime(alarms['TimeOn'])
alarms['TimeOff'] = pd.to_datetime(alarms['TimeOff'])

# setting the index
#alarms.set_index('TimeStamp', inplace=True)
#q1.index

In [12]:
alarms2 = pd.DataFrame(index=q1.index.copy())

In [17]:
#Now I need to merge the alarms with the alarm descriptions
alarms2 = pd.merge(ala, alarms_desc, on = ["Code"], how='inner')
df.head()

,Source,StationId,Type,Code,TimeOn,TimeOff,Description,Fault Type
0,Wtc,2308996,0,3130,2017-01-01 01:36:00,NaT,Pitch lubrication,1
1,Wtc,2308996,0,3130,2017-01-01 01:36:00,2017-01-01 01:40:00,Pitch lubrication,1
2,Wtc,2308963,0,3130,2017-01-01 02:43:00,NaT,Pitch lubrication,1
3,Wtc,2308965,0,3130,2017-01-01 02:45:00,NaT,Pitch lubrication,1
4,Wtc,2308963,0,3130,2017-01-01 02:43:00,2017-01-01 02:47:00,Pitch lubrication,1

In [97]:
q1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
StationId,1111023.0,4.404165e+01,2.511075e+01,1.000000e+00,2.200000e+01,4.400000e+01,6.600000e+01,8.700000e+01
CommunicationId,1111023.0,2.309002e+06,2.511075e+01,2.308959e+06,2.308980e+06,2.309002e+06,2.309024e+06,2.309045e+06
NeighbourId,1111023.0,4.403962e+01,2.492885e+01,2.000000e+00,2.300000e+01,4.300000e+01,6.500000e+01,8.600000e+01
NeighbourIdTwo,1111023.0,4.468494e+01,2.469343e+01,1.000000e+00,2.400000e+01,4.400000e+01,6.600000e+01,8.700000e+01
XPos,1111023.0,5.349489e+02,3.398955e+02,3.000000e+01,2.600000e+02,4.900000e+02,8.350000e+02,1.065000e+03
YPos,1111023.0,7.647548e+02,4.244587e+02,1.500000e+02,4.500000e+02,7.500000e+02,1.050000e+03,1.650000e+03
wtc_SecAnemo_mean,1110941.0,7.930037e+00,3.387293e+00,0.000000e+00,5.548193e+00,7.946603e+00,1.033806e+01,2.168871e+01
wtc_YawPos_mean,1110940.0,1.850828e+02,9.391416e+01,0.000000e+00,1.347874e+02,1.906214e+02,2.427626e+02,3.600000e+02
wtc_GenRpm_mean,1110941.0,1.148163e+03,3.451305e+02,6.000000e-01,9.213044e+02,1.240915e+03,1.458859e+03,1.536638e+03
wtc_HubLubGr_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IceDetec_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IMidBa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IMidCa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IMidAa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_MainSRpm_mean,1110941.0,1.267237e+01,3.809696e+00,0.000000e+00,1.016853e+01,1.369604e+01,1.610165e+01,1.696051e+01
wtc_PitchRef_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PitchRef_BladeA_mean,1110941.0,2.675378e+00,1.300413e+01,-2.029672e+00,-1.817028e+00,-1.368583e+00,2.812430e+00,9.800000e+01
wtc_PitchRef_BladeB_mean,1110941.0,2.675240e+00,1.300300e+01,-2.029672e+00,-1.817028e+00,-1.368583e+00,2.812428e+00,9.800000e+01
wtc_PitchRef_BladeC_mean,1110941.0,2.675385e+00,1.300298e+01,-2.029672e+00,-1.817028e+00,-1.368585e+00,2.812432e+00,9.800000e+01
wtc_PitcRefA_mean,1110941.0,2.672963e+00,1.304287e+01,-2.300000e+00,-1.816557e+00,-1.368348e+00,2.806777e+00,9.800000e+01
wtc_PriAnemo_mean,1110940.0,1.200000e+00,2.502089e-11,1.200000e+00,1.200000e+00,1.200000e+00,1.200000e+00,1.200000e+00
wtc_PWMBa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PWMCa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PWMAa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_HubAnIn5_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_HubAnIn6_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_HubAnIn7_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_NacHumid_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TwrHumid_mean,1110941.0,4.216198e+01,1.504279e+01,8.196293e+00,2.978925e+01,4.030520e+01,5.412750e+01,8.648268e+01
wtc_VisMeter_endvalue,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
wtc_IMSRotTm_mean,1110940.0,4.162664e+01,3.908607e+00,1.100000e+01,3.988822e+01,4.200000e+01,4.400000e+01,2.000000e+02
wtc_IO1IntTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IO2IntTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IO3IntTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_NacelTmp_mean,1110940.0,2.165960e+01,5.847918e+00,-1.000000e+00,1.800000e+01,2.200000e+01,2.600000e+01,4.000000e+01
wtc_NMMBrdTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PFMaTemp_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PFMCapTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PFS1CapT_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PFS1Temp_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TrafL1Tm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TrafL2Tm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TrafL3Tm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TraOilTF_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TraRooTF_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_ConvWTmp_mean,1110941.0,3.152444e+01,3.557419e+00,1.895848e+00,2.995580e+01,3.008481e+01,3.183766e+01,2.000000e+02
wtc_ConvWTm2_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_HydOilTm_mean,1110940.0,3.078649e+01,2.258591e+00,0.000000e+00,3.006423e+01,3.033915e+01,3.094327e+01,5.300000e+01
wtc_GFilB1Tm_mean,1110940.0,3.533999e+01,4.836338e+00,9.941466e+00,3.194437e+01,3.353150e+01,3.800000e+01,5.443462e+01
wtc_GFilB2Tm_mean,1110941.0,5.133855e+01,1.579379e+01,1.000000e+01,3.789397e+01,4.532327e+01,6.352967e+01,1.124659e+02
wtc_GFilB3Tm_mean,1110940.0,4.484986e+01,6.303671e+00,1.100000e+01,4.049004e+01,4.300162e+01,4.800000e+01,8.455645e+01
wtc_ReacUTmp_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_ReacVTmp_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_ReacWTmp_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_MainBTmp_mean,1110940.0,3.936359e+01,5.341687e+00,8.000000e+00,3.600000e+01,4.000000e+01,4.300000e+01,5.100000e+01
wtc_MBearHTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_MBearGTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_GenAvgTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TrafoTMa_mean,1110940.0,2.000000e+02,0.000000e+00,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02
wtc_BoostAva_mean,1110920.0,4.768138e+00,2.202145e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.150000e+02

In [98]:
q1.isnull().sum()

TimeStamp                         0
Name                              0
StationId                         0
CommunicationId                   0
NeighbourId                       0
NeighbourIdTwo                    0
XPos                              0
YPos                              0
wtc_CurTime_endvalue             82
wtc_SecAnemo_mean                82
wtc_YawPos_mean                  83
wtc_GenRpm_mean                  82
wtc_HubLubGr_mean           1111023
wtc_IceDetec_mean           1111023
wtc_IMidBa_mean             1111023
wtc_IMidCa_mean             1111023
wtc_IMidAa_mean             1111023
wtc_MainSRpm_mean                82
wtc_PitchRef_mean           1111023
wtc_PitchRef_BladeA_mean         82
wtc_PitchRef_BladeB_mean         82
wtc_PitchRef_BladeC_mean         82
wtc_PitcRefA_mean                82
wtc_PriAnemo_mean                83
wtc_PWMBa_mean              1111023
wtc_PWMCa_mean              1111023
wtc_PWMAa_mean              1111023
wtc_HubAnIn5_mean           1111023
wtc_HubAnIn6_mean           1111023
wtc_HubAnIn7_mean           1111023
                             ...
wtc_IMSRotTm_mean                83
wtc_IO1IntTm_mean           1111023
wtc_IO2IntTm_mean           1111023
wtc_IO3IntTm_mean           1111023
wtc_NacelTmp_mean                83
wtc_NMMBrdTm_mean           1111023
wtc_PFMaTemp_mean           1111023
wtc_PFMCapTm_mean           1111023
wtc_PFS1CapT_mean           1111023
wtc_PFS1Temp_mean           1111023
wtc_TrafL1Tm_mean           1111023
wtc_TrafL2Tm_mean           1111023
wtc_TrafL3Tm_mean           1111023
wtc_TraOilTF_mean           1111023
wtc_TraRooTF_mean           1111023
wtc_ConvWTmp_mean                82
wtc_ConvWTm2_mean           1111023
wtc_HydOilTm_mean                83
wtc_GFilB1Tm_mean                83
wtc_GFilB2Tm_mean                82
wtc_GFilB3Tm_mean                83
wtc_ReacUTmp_mean           1111023
wtc_ReacVTmp_mean           1111023
wtc_ReacWTmp_mean           1111023
wtc_MainBTmp_mean                83
wtc_MBearHTm_mean           1111023
wtc_MBearGTm_mean           1111023
wtc_GenAvgTm_mean           1111023
wtc_TrafoTMa_mean                83
wtc_BoostAva_mean               103
Length: 117, dtype: int64

In [99]:
# drop columns that were missing values
q1.dropna(thresh=100, inplace=True, axis='columns')

In [100]:
# investigate the data
# we may want to chose a subselection of data as there are 435 unique "Name" rows
# variables that I like Name, XPos, YPos, wtc_SecAnemo_mean, wtc_MainBTmp_mean, wtc_GFilB3Tm_mean
sub = q1.head(200)
sub[sub["TimeStamp"] == "2017-01-01 00:10:00.000"]

# position = q1.groupby("Name")
# position.head()

,TimeStamp,Name,StationId,CommunicationId,NeighbourId,NeighbourIdTwo,XPos,YPos,wtc_CurTime_endvalue,wtc_SecAnemo_mean,...,wtc_IMSRotTm_mean,wtc_NacelTmp_mean,wtc_ConvWTmp_mean,wtc_HydOilTm_mean,wtc_GFilB1Tm_mean,wtc_GFilB2Tm_mean,wtc_GFilB3Tm_mean,wtc_MainBTmp_mean,wtc_TrafoTMa_mean,wtc_BoostAva_mean
75,2017-01-01 00:10:00.000,A001,1,2308959,30,29,260,150,2017-01-01 00:09:58.000,7.044175,...,41.00000,15.00000,29.97638,30.14483,32.20572,41.22066,39.96920,37.88215,200.0,0.0
76,2017-01-01 00:10:00.000,T001,3,2308961,4,5,30,150,2017-01-01 00:09:58.000,9.322762,...,42.20749,15.00000,29.92002,29.66102,36.38978,66.52910,46.00000,38.00000,200.0,0.0
77,2017-01-01 00:10:00.000,T002,4,2308962,3,5,30,300,2017-01-01 00:09:58.000,9.636909,...,41.00150,16.00000,30.07299,29.98692,35.12077,53.31667,43.00000,39.72190,200.0,0.0
78,2017-01-01 00:10:00.000,T004,6,2308964,5,7,30,600,2017-01-01 00:09:58.000,9.928300,...,42.25405,16.00000,29.86269,29.91422,34.89828,50.59472,41.00000,39.00000,200.0,0.0
79,2017-01-01 00:10:00.000,T005,7,2308965,6,5,30,750,2017-01-01 00:09:58.000,9.774302,...,41.00000,15.00000,30.10109,29.81347,34.45382,52.72143,41.63320,39.00000,200.0,0.0
80,2017-01-01 00:10:00.000,T007,9,2308967,8,10,1065,300,2017-01-01 00:09:59.000,9.004233,...,42.00000,17.00000,30.00126,29.83870,35.06735,55.98458,42.00000,40.00000,200.0,0.0
81,2017-01-01 00:10:00.000,T008,10,2308968,9,11,1065,450,2017-01-01 00:09:59.000,8.998788,...,42.99843,16.00000,29.98467,29.87248,34.05002,53.67305,43.97045,38.00000,200.0,0.0
82,2017-01-01 00:10:00.000,T009,11,2308969,12,10,1065,600,2017-01-01 00:09:59.000,7.817625,...,41.00000,17.88422,29.88653,29.72878,32.07312,45.25188,43.99830,39.00000,200.0,0.0
83,2017-01-01 00:10:00.000,T010,12,2308970,11,13,1065,750,2017-01-01 00:09:58.000,6.185417,...,37.84238,16.00000,29.97348,29.92605,31.30395,40.37612,40.00000,38.00000,200.0,0.0
84,2017-01-01 00:10:00.000,T011,13,2308971,12,14,1065,900,2017-01-01 00:09:59.000,6.851348,...,38.00000,18.00000,30.17172,29.41872,32.41495,40.71824,41.03603,37.00000,200.0,0.0
85,2017-01-01 00:10:00.000,T012,14,2308972,13,15,1065,1050,2017-01-01 00:09:58.000,4.274290,...,38.67538,16.00000,30.05141,29.90728,34.20016,42.31090,40.00000,37.00000,200.0,0.0
86,2017-01-01 00:10:00.000,T013,15,2308973,16,14,1065,1200,2017-01-01 00:09:58.000,5.993765,...,39.66095,17.00505,30.03541,29.75175,32.00000,39.63608,40.00000,37.00000,200.0,0.0
87,2017-01-01 00:10:00.000,T014,16,2308974,15,17,1065,1350,2017-01-01 00:09:58.000,7.524992,...,41.00000,16.11040,30.08296,29.81723,33.62898,47.92908,39.00000,38.00000,200.0,0.0
88,2017-01-01 00:10:00.000,T015,17,2308975,8,16,30,900,2017-01-01 00:09:59.000,9.248598,...,43.65312,15.00000,30.14272,29.78090,35.14343,53.72206,42.00000,41.00000,200.0,0.0
89,2017-01-01 00:10:00.000,T016,18,2308976,17,19,30,1050,2017-01-01 00:09:59.000,9.203493,...,41.84422,16.00000,29.71867,29.93122,35.98326,63.45213,44.97707,41.00000,200.0,0.0
90,2017-01-01 00:10:00.000,T017,19,2308977,20,21,30,1200,2017-01-01 00:09:58.000,5.499703,...,42.40768,18.00000,29.98705,29.77773,33.62257,46.17572,41.00000,38.93132,200.0,0.0
91,2017-01-01 00:10:00.000,T018,20,2308978,19,21,30,1350,2017-01-01 00:09:58.000,7.812815,...,38.00000,15.87357,30.25113,29.81262,32.46765,41.01252,41.98898,38.00000,200.0,0.0
92,2017-01-01 00:10:00.000,T019,21,2308979,20,22,1065,1500,2017-01-01 00:09:59.000,8.767907,...,42.00000,16.95787,30.05222,30.00503,32.00827,45.07590,40.98840,39.00000,200.0,0.0
93,2017-01-01 00:10:00.000,T021,23,2308981,24,25,145,150,2017-01-01 00:09:59.000,7.212890,...,39.08400,17.11418,29.97708,29.80107,32.99332,44.00685,42.96102,38.00000,200.0,0.0
94,2017-01-01 00:10:00.000,T022,24,2308982,23,25,145,300,2017-01-01 00:09:59.000,6.753273,...,37.00000,18.11275,29.86110,29.86120,32.00000,39.35108,41.00000,37.00000,200.0,0.0
95,2017-01-01 00:10:00.000,T024,26,2308984,25,24,145,600,2017-01-01 00:09:59.000,5.813957,...,37.25375,16.87972,30.02065,29.90937,31.00000,37.94740,38.00000,38.00000,200.0,0.0
96,2017-01-01 00:10:00.000,T032,27,2308985,2,28,260,450,2017-01-01 00:09:58.000,6.491724,...,37.00000,16.17832,29.99827,30.14992,32.01980,40.45045,41.00000,39.00000,200.0,0.0
97,2017-01-01 00:10:00.000,T034,29,2308987,28,30,260,750,2017-01-01 00:09:59.000,7.607608,...,38.41285,15.00000,30.12676,30.13228,33.00000,42.18490,49.00000,39.00000,200.0,0.0
98,2017-01-01 00:10:00.000,T035,30,2308988,29,1,260,900,2017-01-01 00:09:59.000,7.018593,...,37.00000,15.89120,29.91372,30.20077,32.00000,42.09138,40.84467,39.03078,200.0,0.0
99,2017-01-01 00:10:00.000,T036,31,2308989,32,33,145,750,2017-01-01 00:09:58.000,5.962958,...,37.00312,18.00000,29.96416,29.95442,31.00172,37.02395,40.00000,38.00000,200.0,0.0
100,2017-01-01 00:10:00.000,T037,32,2308990,31,33,145,900,2017-01-01 00:09:58.000,6.245033,...,37.21027,16.99833,29.88884,29.86802,31.90767,38.27670,39.00000,39.05077,200.0,0.0
101,2017-01-01 00:10:00.000,T038,33,2308991,32,31,145,1050,2017-01-01 00:09:58.000,6.015808,...,37.00000,15.00000,30.04332,29.91317,31.00000,39.27213,43.00000,37.00000,200.0,0.0
102,2017-01-01 00:10:00.000,T039,34,2308992,35,36,950,150,2017-01-01 00:09:59.000,8.477200,...,42.00000,15.57455,30.04391,29.99167,33.38520,43.40552,40.50983,41.00000,200.0,0.0
103,2017-01-01 00:10:00.000,T040,35,2308993,36,34,950,300,2017-01-01 00:09:59.000,8.013327,...,41.00000,14.92708,30.18966,29.67795,35.26750,55.03928,43.00000,40.00000,200.0,0.0
104,2017-01-01 00:10:00.000,T041,36,2308994,35,40,950,450,2017-01-01 00:09:58.000,10.241350,...,43.00000,16.00000,29.89145,29.84740,34.00000,53.09229,41.99595,41.00000,200.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2017-01-01 00:10:00.000,T068,55,2309013,54,56,720,600,2017-01-01 00:09:59.000,8.354890,...,40.00000,17.00000,30.03877,29.86555,33.00000,45.61255,41.00998,39.00000,200.0,0.0
121,2017-01-01 00:10:00.000,T069,56,2309014,55,57,720,750,2017-01-01 00:09:58.000,6.897928,...,38.85617,16.00307,29.89193,29.72428,32.24322,42.45535,39.00000,37.00000,200.0,0.0
122,2017-01-01 00:10:00.000,T070,57,2309015,56,55,720,900,2017-01-01 00:09:58.000,6.513795,...,39.57612,16.00183,30.01048,29.86595,32.43247,41.70677,41.18712,37.99832,200.0,0.0
123,2017-01-01 00:10:00.000,T071,58,2309016,64,59,490,150,2017-01-01 00:09:59.000,8.648905,...,42.00000,15.57658,29.67812,30.07198,35.25108,55.29012,45.00000,41.00000,200.0,0.0
124,2017-01-01 00:10:00.000,T072,59,2309017,60,61,490,300,2017-01-01 00:09:58.000,7.538764,...,37.47320,15.99835,29.92554,29.90255,32.02532,42.28160,42.00000,38.00000,200.0,0.0
125,2017-01-01 00:10:00.000,T073,60,2309018,59,61,490,450,2017-01-01 00:09:59.000,7.746428,...,40.00000,17.99643,30.06811,30.09958,32.00000,39.70201,41.00000,38.00000,200.0,0.0
126,2017-01-01 00:10:00.000,T074,61,2309019,60,59,490,600,2017-01-01 00:09:59.000,8.120512,...,40.00000,16.00000,30.09365,29.77938,33.69440,43.91417,42.00000,39.00000,200.0,0.0
127,2017-01-01 00:10:00.000,T075,62,2309020,63,64,490,750,2017-01-01 00:09:58.000,9.674008,...,43.00000,17.00000,29.95499,30.08012,35.00000,56.53380,42.00000,41.00000,200.0,0.0
128,2017-01-01 00:10:00.000,T076,63,2309021,62,64,490,900,2017-01-01 00:09:58.000,6.375158,...,37.00000,18.00000,30.03832,29.83247,31.83115,39.37295,42.00000,39.00000,200.0,0.0
129,2017-01-01 00:10:00.000,T077,64,2309022,63,65,490,1050,2017-01-01 00:09:59.000,9.843570,...,44.72843,16.00000,29.86811,30.01370,34.92055,59.86523,42.01220,41.00000,200.0,0.0
130,2017-01-01 00:10:00.000,T079,66,2309024,65,64,490,1350,2017-01-01 00:09:59.000,7.747682,...,40.86725,16.00000,29.91428,29.87090,32.10458,44.84138,42.00345,39.00000,200.0,0.0
131,2017-01-01 00:10:00.000,T080,67,2309025,68,69,835,150,2017-01-01 00:09:58.000,8.303928,...,40.00000,17.05912,29.92679,29.98903,33.00000,47.18095,41.76117,38.00000,200.0,0.0
132,2017-01-01 00:10:00.000,T082,69,2309027,70,67,835,300,2017-01-01 00:09:58.000,6.260603,...,39.53402,16.00000,30.19913,30.30772,32.00000,37.37258,40.03138,38.00000,200.0,0.0
133,2017-01-01 00:10:00.000,T083,70,2309028,69,67,605,300,2017-01-01 00:09:59.000,5.007662,...,39.52103,16.77040,29.84714,30.92745,31.16273,36.35122,40.00000,38.00000,200.0,0.0
134,2017-01-01 00:10:00.000,T084,71,2309029,72,73,835,450,2017-01-01 00:09:59.000,7.297410,...,39.00000,16.99148,30.13424,29.93717,32.00000,41.29935,41.00000,39.06918,200.0,0.0
135,2017-01-01 00:10:00.000,T085,72,2309030,73,71,835,600,2017-01-01 00:09:58.000,7.209671,...,38.00000,17.03643,29.88377,30.10740,32.03638,42.78947,52.00000,39.00000,200.0,0.0
136,2017-01-01 00:10:00.000,T086,73,2309031,72,74,835,750,2017-01-01 00:09:58.000,7.273522,...,37.00000,15.87372,29.91786,30.01483,31.88448,39.74147,40.00000,37.99548,200.0,0.0
137,2017-01-01 00:10:00.000,T087,74,2309032,75,73,605,450,2017-01-01 00:09:59.000,4.284955,...,37.98443,16.06828,30.02728,30.22882,31.34812,36.13945,45.99833,37.00000,200.0,0.0
138,2017-01-01 00:10:00.000,T088,75,2309033,74,76,605,600,2017-01-01 00:09:58.000,5.791305,...,37.00000,18.00000,29.87873,29.95342,31.23302,37.75587,41.00000,38.00000,200.0,0.0
139,2017-01-01 00:10:00.000,T089,76,2309034,75,77,605,750,2017-01-01 00:09:59.000,6.931285,...,37.00000,14.00000,29.91717,29.90660,32.94482,42.06667,40.00428,37.00000,200.0,0.0
140,2017-01-01 00:10:00.000,T090,77,2309035,78,76,605,900,2017-01-01 00:09:59.000,7.478330,...,38.52822,14.94057,30.06332,29.96982,32.38708,46.17498,40.00000,38.00000,200.0,0.0
141,2017-01-01 00:10:00.000,T091,78,2309036,79,77,605,1050,2017-01-01 00:09:58.000,7.268055,...,38.00000,15.00000,29.94874,29.96058,33.00000,42.37682,42.00000,39.00000,200.0,0.0
142,2017-01-01 00:10:00.000,T092,79,2309037,78,80,605,1200,2017-01-01 00:09:58.000,6.850385,...,36.42862,16.92915,30.08808,30.08565,32.63598,38.34500,43.08790,37.98072,200.0,0.0
143,2017-01-01 00:10:00.000,T093,80,2309038,79,81,605,1350,2017-01-01 00:09:59.000,5.690975,...,38.98145,17.31027,30.12354,30.05240,31.57675,36.85797,39.00000,36.00000,200.0,0.0
144,2017-01-01 00:10:00.000,T094,81,2309039,80,79,605,1500,2017-01-01 00:09:59.000,6.284862,...,40.51408,16.00000,30.46942,31.00000,31.47268,35.29855,38.97192,36.00000,200.0,0.0
145,2017-01-01 00:10:00.000,T095,82,2309040,83,84,835,900,2017-01-01 00:09:58.000,8.715730,...,44.00000,23.00000,30.62506,30.22030,34.96282,50.56915,43.00000,42.00000,200.0,0.0
146,2017-01-01 00:10:00.000,T096,83,2309041,82,84,835,1050,2017-01-01 00:09:59.000,7.078575,...,38.00000,15.00000,30.13183,29.88413,33.00000,45.53278,40.00000,38.00000,200.0,0.0
147,2017-01-01 00:10:00.000,T097,84,2309042,83,82,835,1200,2017-01-01 00:09:59.000,8.381042,...,40.00000,17.00000,30.03349,29.90263,33.00000,44.52417,39.23070,38.00000,200.0,0.0
148,2017-01-01 00:10:00.000,T099,86,2309044,85,87,835,1500,2017-01-01 00:09:59.000,6.795623,...,38.00000,15.00000,30.08330,29.85752,33.12368,43.16452,41.00000,36.00000,200.0,0.0
149,2017-01-01 00:10:00.000,T100,87,2309045,86,85,835,1650,2017-01-01 00:09:58.000,8.170397,...,39.01898,16.00000,29.85829,29.93588,34.20217,51.17720,42.00000,37.00000,200.0,0.0

In [101]:
# Next I need to turn the TimeOn Column into a timestamp
# I also change the name of StationId to Communcation ID to make mergine easier
# I also changed the name of DateTimeOn to TimeStamp to make merge eatier... I could have done this in assignment
from datetime import datetime
alarms["DateTimeOn"] = alarms["TimeOn"].apply(lambda x: datetime.strptime(x, '%m/%d/%y %I:%M %p'))
alarms=alarms.rename(columns = {'StationId':'CommunicationId'})
alarms.head()

,Source,CommunicationId,Type,Code,TimeOn,TimeOff,DateTimeOn
0,System,2309007,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
1,System,2309008,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
2,System,2309009,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
3,System,2309010,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
4,System,2309011,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00

In [102]:
# I think there is a problem merging on timestamp... I need to check the types of each one
print(type(alarms["DateTimeOn"][0]))
print(type(q1["TimeStamp"][0]))
q1["TimeStamp"][1000:1100]

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'str'>

1000    2017-01-01 02:10:00.000
1001    2017-01-01 02:10:00.000
1002    2017-01-01 02:10:00.000
1003    2017-01-01 02:10:00.000
1004    2017-01-01 02:10:00.000
1005    2017-01-01 02:10:00.000
1006    2017-01-01 02:10:00.000
1007    2017-01-01 02:10:00.000
1008    2017-01-01 02:10:00.000
1009    2017-01-01 02:10:00.000
1010    2017-01-01 02:10:00.000
1011    2017-01-01 02:10:00.000
1012    2017-01-01 02:10:00.000
1013    2017-01-01 02:10:00.000
1014    2017-01-01 02:10:00.000
1015    2017-01-01 02:10:00.000
1016    2017-01-01 02:10:00.000
1017    2017-01-01 02:10:00.000
1018    2017-01-01 02:10:00.000
1019    2017-01-01 02:10:00.000
1020    2017-01-01 02:10:00.000
1021    2017-01-01 02:10:00.000
1022    2017-01-01 02:10:00.000
1023    2017-01-01 02:10:00.000
1024    2017-01-01 02:10:00.000
1025    2017-01-01 02:10:00.000
1026    2017-01-01 02:10:00.000
1027    2017-01-01 02:10:00.000
1028    2017-01-01 02:10:00.000
1029    2017-01-01 02:10:00.000
                 ...
1070    2017-01-01 02:20:00.000
1071    2017-01-01 02:20:00.000
1072    2017-01-01 02:20:00.000
1073    2017-01-01 02:20:00.000
1074    2017-01-01 02:20:00.000
1075    2017-01-01 02:20:00.000
1076    2017-01-01 02:20:00.000
1077    2017-01-01 02:20:00.000
1078    2017-01-01 02:20:00.000
1079    2017-01-01 02:20:00.000
1080    2017-01-01 02:20:00.000
1081    2017-01-01 02:20:00.000
1082    2017-01-01 02:20:00.000
1083    2017-01-01 02:20:00.000
1084    2017-01-01 02:20:00.000
1085    2017-01-01 02:20:00.000
1086    2017-01-01 02:20:00.000
1087    2017-01-01 02:20:00.000
1088    2017-01-01 02:20:00.000
1089    2017-01-01 02:20:00.000
1090    2017-01-01 02:20:00.000
1091    2017-01-01 02:20:00.000
1092    2017-01-01 02:20:00.000
1093    2017-01-01 02:20:00.000
1094    2017-01-01 02:20:00.000
1095    2017-01-01 02:20:00.000
1096    2017-01-01 02:20:00.000
1097    2017-01-01 02:20:00.000
1098    2017-01-01 02:20:00.000
1099    2017-01-01 02:20:00.000
Name: TimeStamp, Length: 100, dtype: object

In [103]:
# Next Make a new column that makes the TimeStamp in Q1 an actual timestamp
q1["DateTimeOn"] = q1["TimeStamp"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
q1['DateTimeOn'].head()

0   2017-01-01
1   2017-01-01
2   2017-01-01
3   2017-01-01
4   2017-01-01
Name: DateTimeOn, dtype: datetime64[ns]

In [104]:
#They look different... but are they really different?
print(q1['DateTimeOn'].head())
print(alarms['DateTimeOn'].head())

0   2017-01-01
1   2017-01-01
2   2017-01-01
3   2017-01-01
4   2017-01-01
Name: DateTimeOn, dtype: datetime64[ns]
0   2017-01-01 00:10:00
1   2017-01-01 00:10:00
2   2017-01-01 00:10:00
3   2017-01-01 00:10:00
4   2017-01-01 00:10:00
Name: DateTimeOn, dtype: datetime64[ns]

In [105]:
#Prove to myself that the values can be merged
print(type(q1["DateTimeOn"][0]))
print(type(alarms["DateTimeOn"][0]))
print(q1["DateTimeOn"][100])
print(alarms["DateTimeOn"][0])
q1["DateTimeOn"][100] == alarms["DateTimeOn"][0]

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2017-01-01 00:10:00
2017-01-01 00:10:00

True

In [106]:
#Now I need to merge the alarms with the Q1 dataset
df_merged = pd.merge(q1, alarms, on = ["DateTimeOn", "CommunicationId"], how='inner')

In [107]:
df_merged.head()

,TimeStamp,Name,StationId,CommunicationId,NeighbourId,NeighbourIdTwo,XPos,YPos,wtc_CurTime_endvalue,wtc_SecAnemo_mean,...,wtc_GFilB3Tm_mean,wtc_MainBTmp_mean,wtc_TrafoTMa_mean,wtc_BoostAva_mean,DateTimeOn,Source,Type,Code,TimeOn,TimeOff
0,2017-01-01 00:10:00.000,T053,43,2309001,42,46,145,1350,2017-01-01 00:09:59.000,8.895839,...,47.97647,40.0,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,NaN
1,2017-01-01 00:10:00.000,T053,43,2309001,42,46,145,1350,2017-01-01 00:09:59.000,8.895839,...,47.97647,40.0,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,1/1/17 12:26 AM
2,2017-01-01 00:10:00.000,T054,44,2309002,41,42,950,900,2017-01-01 00:09:59.000,9.375854,...,48.00000,42.0,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,NaN
3,2017-01-01 00:10:00.000,T054,44,2309002,41,42,950,900,2017-01-01 00:09:59.000,9.375854,...,48.00000,42.0,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,1/1/17 12:27 AM
4,2017-01-01 00:10:00.000,T060,47,2309005,48,49,375,150,2017-01-01 00:09:58.000,8.995820,...,43.00000,40.0,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,NaN

In [108]:
df_merged.shape

(20605, 62)

In [111]:
# setting the index
df.set_index('TimeStamp', inplace=True)
df.index

Index(['2017-01-01 05:00:00.000', '2017-01-01 05:00:00.000',
       '2017-01-01 05:00:00.000', '2017-01-01 05:00:00.000',
       '2017-01-01 05:10:00.000', '2017-01-01 05:10:00.000',
       '2017-01-01 05:10:00.000', '2017-01-01 05:10:00.000',
       '2017-01-01 05:10:00.000', '2017-01-01 05:10:00.000',
       ...
       '2017-02-28 10:00:00.000', '2017-02-28 10:00:00.000',
       '2017-01-11 11:00:00.000', '2017-01-11 11:00:00.000',
       '2017-01-10 11:30:00.000', '2017-01-10 11:30:00.000',
       '2017-02-25 08:20:00.000', '2017-02-25 08:20:00.000',
       '2017-02-08 12:10:00.000', '2017-02-08 12:10:00.000'],
      dtype='object', name='TimeStamp', length=2390)

In [129]:
df.head()

,Name,StationId,CommunicationId,NeighbourId,NeighbourIdTwo,XPos,YPos,wtc_CurTime_endvalue,wtc_SecAnemo_mean,wtc_YawPos_mean,...,wtc_TrafoTMa_mean,wtc_BoostAva_mean,Source,Type,Code,TimeOn,TimeOff,Description,Fault Type,Duration
TimeStamp,,,,,,,,,,,,,,,,,,,,,
2017-01-01 05:00:00.000,T015,17,2308975,8,16,30,900,2017-01-01 04:59:58.000,1.905287,13.273800,...,200.0,0.0,Wtc,0,10105,2017-01-01 05:00:00,2017-01-01 05:12:00,"Stopped, untwisting cables",1,00:12:00
2017-01-01 05:00:00.000,T050,41,2308999,40,44,950,750,2017-01-01 04:59:58.000,1.679922,0.924836,...,200.0,0.0,Wtc,0,10105,2017-01-01 05:00:00,2017-01-01 05:12:00,"Stopped, untwisting cables",1,00:12:00
2017-01-01 05:10:00.000,T036,31,2308989,32,33,145,750,2017-01-01 05:09:58.000,1.860418,34.892600,...,200.0,0.0,Wtc,0,10105,2017-01-01 05:10:00,2017-01-01 05:22:00,"Stopped, untwisting cables",1,00:12:00
2017-01-01 05:10:00.000,T037,32,2308990,31,33,145,900,2017-01-01 05:09:58.000,1.223300,13.291730,...,200.0,0.0,Wtc,0,10105,2017-01-01 05:10:00,2017-01-01 05:22:00,"Stopped, untwisting cables",1,00:12:00
2017-01-01 05:10:00.000,T086,73,2309031,72,74,835,750,2017-01-01 05:09:58.000,2.205682,354.617900,...,200.0,0.0,Wtc,0,10105,2017-01-01 05:10:00,2017-01-01 05:22:00,"Stopped, untwisting cables",1,00:12:00

In [113]:
turbines = ['T003','T009','T014','T015','T022','T056','T071']
df2 = df.loc[df['Name'].isin(turbines)]

In [119]:
# remove rows with missing values 
df2.dropna(inplace=True)
df2['TimeOff'].isnull().sum()

C:\Users\Casiano\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0

In [122]:
df2.dtypes

Name                                  object
StationId                              int64
CommunicationId                        int64
NeighbourId                            int64
NeighbourIdTwo                         int64
XPos                                   int64
YPos                                   int64
wtc_CurTime_endvalue                  object
wtc_SecAnemo_mean                    float64
wtc_YawPos_mean                      float64
wtc_GenRpm_mean                      float64
wtc_MainSRpm_mean                    float64
wtc_PitchRef_BladeA_mean             float64
wtc_PitchRef_BladeB_mean             float64
wtc_PitchRef_BladeC_mean             float64
wtc_PitcRefA_mean                    float64
wtc_PriAnemo_mean                    float64
wtc_TwrHumid_mean                    float64
wtc_PitcPosA_mean                    float64
wtc_PitcPosB_mean                    float64
wtc_PitcPosC_mean                    float64
wtc_PowerRef_endvalue                float64
wtc_ScYawPos_mean                    float64
wtc_PrWindSp_mean                    float64
wtc_SeWindSp_mean                    float64
wtc_AcWindSp_mean                    float64
wtc_NacelPos_mean                    float64
wtc_TetAnFrq_mean                    float64
wtc_TowerFrq_Frequenc_mean           float64
wtc_A1ExtTmp_mean                    float64
                                   ...
wtc_AmbieTmp_mean                    float64
wtc_BrkTmpGn_mean                    float64
wtc_Gen1U1Tm_mean                    float64
wtc_Gen1V1Tm_mean                    float64
wtc_Gen1W1Tm_mean                    float64
wtc_GenBeGTm_mean                    float64
wtc_GenBeRTm_mean                    float64
wtc_GeOilTmp_mean                    float64
wtc_HSGenTmp_mean                    float64
wtc_HSRotTmp_mean                    float64
wtc_HubTemp_mean                     float64
wtc_IMSGenTm_mean                    float64
wtc_IMSRotTm_mean                    float64
wtc_NacelTmp_mean                    float64
wtc_ConvWTmp_mean                    float64
wtc_HydOilTm_mean                    float64
wtc_GFilB1Tm_mean                    float64
wtc_GFilB2Tm_mean                    float64
wtc_GFilB3Tm_mean                    float64
wtc_MainBTmp_mean                    float64
wtc_TrafoTMa_mean                    float64
wtc_BoostAva_mean                    float64
DateTimeOn                    datetime64[ns]
Source                                object
Type                                   int64
Code                                   int64
TimeOn                                object
TimeOff                               object
Description                           object
Fault Type                            object
Length: 63, dtype: object

# One hot encoding of the alarm variable

In [45]:
from sklearn.preprocessing import OneHotEncoder

#How many alarm types are there?
print("There are " +  str(len(alarms["Code"].unique())) + " unique alarms in the dataset")
alarms["Code"].unique()

#This could be to many alarms... we may want to pair this down. It could be too much for our purposes

There are 316 unique alarms in the dataset

array([50950, 50100,  3130,   115,    25,   111,    20, 10105,    29,
         142,    67,    68,    69,    62,    92, 10400,   138, 50101,
         127,   140,   139,    54,    58,  8217,    56,   145, 50102,
          27,  1020,  1022,  1001, 50000, 50001,  1005, 13902, 17083,
       13900,     2,     7,    18,     8,  7111,    61,    59,  3127,
         113,    87,  3406,    89,  3207,  3128,   114,  3407,  3208,
       10100,  3126,   112,  3206,  3405,  1003, 17235, 63025,  1012,
        4300,  2124,    40,  9304,  4112,  3203,  3205,  3204,  9303,
        8186,  8184, 50200,  4111, 13319, 13320, 13317, 13314, 13309,
       13311,  1112, 13315, 13301,   134,  3122,  7106,   110, 13150,
       13302, 13303, 18212, 17055, 17027,    76, 63038,    28,    86,
        1140,  5110,  1018,  5111,  5112,  5113, 13214,    48,  1023,
       50008,  1025, 63412, 17065, 64066, 13121, 17058,  8000,    30,
        7101,  3421, 17011, 63210, 63211, 63204, 63209,  3118,    13,
       17107,    14,  3422,  6101, 13325, 18216,  4103, 17014, 10115,
        7100,  9101,  9111, 63300, 63036,  9306,    88,  1015,  3404,
        4200,    75, 17268, 10401, 10127,  7110,  3123,  8108,    65,
          60, 13136,  5122, 13140, 13106, 63004, 63003, 50201,  5104,
       63001,     9, 64101, 63005,  3125, 17064,  2260,    66,  8188,
       63302, 63303, 63304, 63305, 63308, 63310, 63205, 63208, 63206,
       63217, 63207, 63219,  1024, 71002,  2261,  3124,  3103,  3104,
        3105,  3140,  1007, 71001,  1017,  4125,  4109,  4110,  6102,
        1021, 50954,  2700, 17085, 17068, 17086, 17087,   123,  2200,
       17054, 18010, 18051, 18078, 18011, 18205, 18217, 18210,  3149,
        1141,  8110,  8187,  8160,  8171,  8173,  4306,  4307,  1010,
       10104,  7103, 63410, 63000,  8185,  8155,  3197,  3201, 63309,
        4123,  4121,  4122,  4124, 13219,  6100,  4104,  4108,  4107,
        4106,  4105,  4102,  4101, 64001, 17069,  3173,  7102,  3171,
        8162,  3218,  7108, 17043,  3412, 63124, 63026,  7104,  1008,
       50901, 51104, 63311, 63501, 63400,  1800,   122, 18208, 18029,
       18040,  3116, 17071, 64111, 64038,  5105,  1156, 63174,  8116,
       63502, 63202, 63216, 63203, 13217,  1004, 63016,  8114,  9105,
        1124, 18014,  4114, 64000,  8170, 17039,  3413, 17040, 17220,
       17029,  8172,  3200, 63201,  3217,  3100,  3172,  7105,  3120,
        3144,  3145,  3146,  3131,  3132,  3148,  1026, 13294,  8140,
         102])

In [5]:
 from sklearn.cross_validation import train_test_split

C:\Users\Casiano\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)